# Environment and cache
.ruff_cache
.env
.python-version
.vscode

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db